[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
ipykernel = "*"
pytelegrambotapi = "*"
autopep8 = "*"
loguru = "*"
confluent-kafka = "*"
pandas = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.10"
