[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "*"
loguru = "*"
confluent-kafka = "*"
pandas = "*"
psycopg2-binary = "*"
jupyter = "*"
ipykernel = "*"
autopep8 = "*"

[dev-packages]

[requires]
python_version = "3.12"
